#results, #subtitles {
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 15px;
    min-height: 150px;
    font-size: 100px;
    margin: 0 10%;
    text-align:left; 
    white-space: nowrap;
    direction: rtl;
    overflow-y:hidden;
    overflow-x:scroll;
}
#main{
    text-align: center;
}

.video{
    position:absolute;
    height:30%;
    width:auto;
    left:50%;
    top:50%;
    opacity:0.8;
    -webkit-transform:  translate(-50%,-50%) ;
    -moz-transform:     translate(-50%,-50%) ;
    -ms-transform:      translate(-50%,-50%) ;
    -o-transform:       translate(-50%,-50%) ;
    transform:          translate(-50%,-50%) ;
}

#div_start{
    margin: auto;
    text-align: center;
}

#start_button img{
    height:50px;
    width:auto;
}

#speech_rating{
    overflow:scroll;
    max-height: 150px;
    width:100%;
}