#results {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    min-height: 150px;
}

#start_button img{
    height:50px;
    width:auto;
}

#speech_rating{
    overflow:scroll;
    max-height: 150px;
    width:100%;
    border: 2px blue dotted;
}